.card {
  width: 50%;
  padding: var(--space-xs) var(--space-m);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);

  @include media(tabletAndUp) {
    padding: var(--space-l) var(--space-xxxl);
    max-width: 60rem;
  }

  &__title {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: var(--space-xs);
  }
}